.container {
  display: inline-flex;
  padding: 1.88rem;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 1.1875rem;
  border-radius: 0.625rem;
  background: #fff;
}
.container .input {
  width: 100%;
  min-height: 11.125rem;
}
.container .title {
  color: #000;
  font-family: Gilroy;
  font-size: 1.125rem !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal;
}